{% extends "model_page.html" %}
{% block content %}
<div class="agencia">
<div class="container">
    <div class="row">
        <div class="col-lg-12 login-title">
            {% if page == 'agencia' %}
            <div class="row">
                <div class="col-md-6 mb-3" style="display: flex; justify-content:flex-start;">
                    <h3>
                        Agencias Cadastradas
                    </h3>
                </div>
                <div class="col-md-6 mb-3" style="display: flex; justify-content:flex-end;">
                    <a href="{{ url_for('cadastroagencia') }}">
                    <button type="button" class="btn btn-success" >Nova Agencia</button>
                    </a>
                </div>
            </div>
            {% elif page == 'cliente' %}
            <div class="row">
                <div class="col-md-6 mb-3" style="display: flex; justify-content:flex-start;">
                    <h3>
                        Clientes Cadastradas
                    </h3>
                </div>
                <div class="col-md-6 mb-3" style="display: flex; justify-content:flex-end;">
                    <a href="{{ url_for('cadastrocliente') }}">
                    <button type="button" class="btn btn-success" >Novo Cliente</button>
                    </a>
                </div>
            </div>
            {% else %}
            <h3>
                ------ NONE -------
            </h3>
            {% endif %}
            <hr>
        </div>
    </div>
</div>
<table class="table table-hover table-dark">
    {% if page == 'agencia' %}
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome da Angecia</th>
            <th scope="col">Endereço</th>
            <th scope="col">Telefone</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for v  in data %}
        <tr>
            <td>{{ v.idAgencia }}</td>
            <td>{{ v.nomeAgencia }}</td>
            <td>{{ v.endereco }}</td>
            <td>{{ v.telefone }}</td>
            <td>
                <a href="cadastroagencia/{{ v.idAgencia }}">
                    <button type="button" class="btn btn-primary">Editar</button>
                </a>

                <a href="removeagencia/{{ v.idAgencia }}">
                    <button type="button" class="btn btn-danger">Excluir</button>
                </a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% elif page == 'cliente' %}
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome do Clinete</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
            <th scope="col">Numero Conta Correte</th>
            <th scope="col">Saldo</th>
            <th scope="col">ID Agencia</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for v  in data %}
        <tr>
            <td>{{ v.idCliente }}</td>
            <td>{{ v.clienteNome }}</td>
            <td>{{ v.clienteCPF }}</td>
            <td>{{ v.clienteFone }}</td>
            <td>{{ v.idContaCorrente.contaCorrenteNumero }}</td>
            <td>{{ v.idContaCorrente.saldo }}</td>
            <td>{{ v.idAgencia.idAgencia }}</td>
            <td>
                <a href="cadastrocliente/{{ v.idCliente }}">
                    <button type="button" class="btn btn-primary">Editar</button>
                </a>

                <a href="removecliente/{{ v.idCliente }}">
                    <button type="button" class="btn btn-danger">Excluir</button>
                </a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <h3>
        ------ NONE -------
    </h3>
    {% endif %}



</table>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <strong><p class="flashes">{{ message }}</p></strong>
    {% endfor %}
{% endif %}
{% endwith %}
</div>
{% endblock %}