<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="/">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="30px">
      </a>
      <a class="py-2 d-none d-md-inline-block" href="{{ url_for('allagencias') }}">Agencias</a>
      <a class="py-2 d-none d-md-inline-block" href="{{ url_for('allcliente') }}">Clientes</a>
      <a class="py-2 d-none d-md-inline-block" href="{{ url_for('movimentacao') }}">Movimentação</a>
      <a class="py-2 d-none d-md-inline-block" href="https://backend-java.carlosp.dev/swagger-ui/index.html">Documentação</a>
    </div>
  </nav>